.block{

}
.center{
    display: block;
    text-align: center;
}
.mainBody{
    background-color:   blanchedalmond
}
.marginSet{
    margin-left: 10px;
    margin-right: 10px
}
.red{
    color : red
}